---
import LanguageOption from './LanguageOption.astro';

const { t, counts } = Astro.props;
---

<style>

.language-switcher {
  display: flex;
  align-items: center;
}

.options {
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  font-weight: 500;
}

</style>

<div class="language-switcher">
  <div class="title">{t('view-articles-lang')}:</div>
  <div class="options">
    <LanguageOption target="pt" {...Astro.props} count={counts.pt}/>
    <LanguageOption target="en" {...Astro.props} count={counts.en}/>
  </div>
</div>
