---

import { Markdown } from 'astro/components';

import SiteLinks from "./SiteLinks.astro"
import SocialLinks from "./SocialLinks.astro"

const { t } = Astro.props;

---

<style>

.sidebar .sidebar-inner {
	position: relative;
	padding: 40px;
}
.sidebar .sidebar-inner:after {
	background: #eee;
	background: linear-gradient(to bottom, #eee 0%, #eee 48%, #fff 100%);
	position: absolute;
	content: '';
	width: 1px;
	height: 540px;
	top: 30px;
	right: 0px;
	bottom: 0;
}
.sidebar .sidebar-inner img {
	display: inline-block;
	margin-bottom: 0;
	border-radius: 5%;
	background-clip: padding-box;
}
.sidebar .sidebar-inner h1, .sidebar .sidebar-inner h2 {
	margin: 20px 0 10px;
}
.sidebar .sidebar-inner p {
	font-size: 18px;
	line-height: 26px;
	margin-bottom: 26px;
}
</style>

<div class="sidebar">
  <div class="sidebar-inner">
    <div class="blog-details">
        <header>
          <a href="/blog/">
            <img src="/images/logo-small.jpg" alt="logo" width="75" height="75" />
          </a>
          <h2>
            <a href="/blog/">Tadeu Zagallo</a>
          </h2>
          <p><Markdown>{t('siteDescription')}</Markdown></p>
        </header>
    </div>
    <div class="blog-options">
      <SiteLinks {t} />
      <footer>
        <SocialLinks {...this.props}/>
      </footer>
    </div>
  </div>
</div>
