---

import SiteLink from './SiteLink.astro';

const { t } = Astro.props;

---

<style>
.blog-nav {
	margin: 20px 0px 10px;
}

.blog-nav ul {
	list-style: none;
	padding-left: 0;
}

.blog-nav ul li {
	margin: 10px 0 10px;
}

.blog-nav ul li a {
	font-size: 16px;
	line-heigh: 26px;
	margin-bottom: 26px;
	border-bottom: 0;
	font-weight: 400;
}

.blog-nav ul li a.current {
	border-bottom: 1px solid;
}

.blog-nav ul li a:hover {
	border-bottom: 1px solid;
}

.project-title {
  margin-top: 20px;
  margin-bottom: 25px;
  font-weight: 600;
}

.language {
	font-size: 16px;
}
</style>

<nav class='blog-nav'>
  <ul>
    <li><SiteLink href="/blog/" text={t('menu-posts')} /></li>
    <li><SiteLink href="/blog/about/" text={t('menu-about')} /></li>
  </ul>

  <hr class="gradient-hr" />

  <p class="project-title">{t('menu-projects')}</p>
  <ul>
    <li><a href="https://verve-lang.org">{t('menu-verve')}</a></li>
    <li><a href="https://tadeuzagallo.com/zsh.js">zsh.js</a></li>
    <li><a href="https://tadeuzagallo.com/GithubPulse">Github Pulse</a></li>
  </ul>

  <hr class="gradient-hr" />

  <a href={t('lang-switch-link')}>
    <span class="language">{t('lang-switch-text')}</span>
    {t('lang-switch-flag')}
  </a>
</nav>
